@use "../abstracts/variables" as variable;

.container-header {
    width: 100%;
    padding: 0.9rem 10%;
}

.container {
    width: 80%;
    padding: 0.9rem 4;
    margin: 0 auto;
}

@media  screen and (max-width: variable.$breakpoints-md) {
    .container {
        width: 95%;
    }
}