@use "../base/typography";

$font-primary: "Lato Regular";
$font-secondary: "Lato Bold";

$white: #ffffff;
$black: #000000;
$semi-black: #221919;
$light-grey: #919191;

$arrow-primary: invert(0%) sepia(98%) saturate(8%) hue-rotate(157deg) brightness(90%) contrast(102%);
$arrow-secondary: invert(52%) sepia(9%) saturate(3669%) hue-rotate(320deg) brightness(123%) contrast(81%);

$bg-banner: #e7816b;
$bg-bottom: #1d1d1f;

$radius: 1rem;
$radius-btn: 0.2rem;

$breakpoints-lg: 1550px;
$breakpoints-md: 768px;
$breakpoints-sm: 368px;
