@use "../abstracts/variables" as variable;

.card {
    position: relative;
    overflow: hidden;
    .card-body {
        z-index: 1;
        h3 {
            text-transform: uppercase;
            color: variable.$white;
        }
    }
}