@use "../abstracts/variables" as variable;

ul {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    li {
        a {
            text-transform: capitalize;
            color: variable.$light-grey;
        }
    }
}

@media  screen and (max-width: variable.$breakpoints-md) {
    ul {
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;
    }
}