@use "../abstracts/mixins" as mixin;

header {
    .header {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;

        .logo-container-black {
            width: 20%;
        }
        nav {
            @include mixin.list-navigation;
            ul {
                li:first-child {
                    a {
                        color: black;
                    }
                }
            }
        }
    }
}