@use "../abstracts/mixins" as mixin;
@use "../abstracts/variables" as variable;

#first-banner {
    .first-banner {
        position: relative;
        margin-top: 4rem;
        border-radius: variable.$radius;
        background-color: variable.$bg-banner;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        overflow: hidden;
        max-height: 35vh;
    
        .banner-content {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            
            h1 {
                max-width: 85%;
            }

            p {
                color: variable.$white;
            }

            a {
                margin-top: 1.66rem;
            }
        }
    
        .container-iphone-img {
            min-width: 20%;
            max-width: 30%;
            margin-top: 3.5rem;
            margin-bottom: -10rem;

            img {
                object-fit: cover;
            }
        }
    }
}

#services {
    .cards-ensemble {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;

        h2 {
            font-family: variable.$font-secondary;
            margin-bottom: 0.5rem;
        }
    
        .cards-container {
            display: flex;
            justify-content: center;
            justify-content: space-between;
            gap: 0.5rem;
            height: 30vh;

            .card-container {
                width: 50%;
                border-radius: variable.$radius;

                .first-service {
                    @include mixin.bg-img(url(../img/homme-assis-batiment.jpg));
                }
            }

            .card-container-column {
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .seconde-service {
                    @include mixin.bg-img(url(../img/passport.jpg));
                }

                .third-service {
                    @include mixin.bg-img(url(../img/montgolfiere.jpg));
                }
            }
        }
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

#features {
    background-image: url(../img/wave.svg);
    background-size: cover;
    width: 100%;
    height: 60vh;
    .features {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 4vh;

        h2 {
            margin-top: 4rem;
        }

        .features-cards {
            display: flex;
            justify-content: space-around;
            text-align: center;

            .feature-card {
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .svg-container {
                    width: 25%;
                    filter: variable.$svg-color;
                }

                .feature-body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    p {
                        width: 70%;
                    }
                }
            }
        }
    }
}

#seconde-banner {
    .seconde-banner {
        position: relative;
        border-radius: variable.$radius;
        background-color: variable.$bg-banner;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        padding: 4rem;
        margin-top: -10vh;
        z-index: 1;
    }
    .banner-body {
        width: 50%;
        color: variable.$white;
    }
    .banner-btn {
        display: flex;
        justify-content: center;
        width: 50%;
        font-size: 1.5rem;
    }
}